<table>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th>ひとこと</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
      <td>
        <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
           <p><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: 'btn btn-primary text-white' %></p>
          <% else %>
           <p><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'btn btn-success text-white' %></p>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>