<script>
  $("#main-navbar").removeClass("navbar-scroll")
  $(window).scroll(function () {
  var sc = $(window).scrollTop()
  if (sc > 150) {
    $("#main-navbar").addClass("navbar-scroll")
  } 
  else {
    $("#main-navbar").removeClass("navbar-scroll")
  }
});
</script>

<section class="full-width-img">
  <div class="container">
    <div class="box">
      <ul class="subheading-text">
        <li>[Go to the next stage]</li>
        <li>ImproveOneself</li>
      </ul>
    </div>
  </div>
</section>
<section class="section-black">
  <div class="container">
    <h3>About</h3>
    <p>体重管理やスケジュールを簡単に</p>
  </div>
</section>