<script>
  $("#main-navbar").removeClass("navbar-scroll")
  $(window).scroll(function () {
  var sc = $(window).scrollTop()
  if (sc > 150) {
    $("#main-navbar").addClass("navbar-scroll")
  } 
  else {
    $("#main-navbar").removeClass("navbar-scroll")
  }
});
</script>

<section class="full-width-img">
  <div class="container">
    <div class="box">
      <ul class="subheading-text">
        <li>[Go to the next stage]</li>
        <li>ImproveOneself</li>
      </ul>
    </div>
  </div>
</section>
<section class="section-black">
  <div class="container">
    <h3>About</h3>
    <p>
      <h2>継続は力なり</h2><br>
      日々のトレーニングメニューや体重管理、他ユーザーとメニューの共有やアドバイスなどを行い、楽しくトレーニングが継続できます！<br>
      このサイトを使用し自己研鑽を深め、理想の自分を目指しましょう！
    </p>
  </div>
</section>